[data-theme="true"] {
  --background: #0D0D0D;
  --text: #BFBFBF;
}

:root {
  --background: #BFBFBF;
  --text: #0D0D0D;
  --sharp-heading: "Sharp Sans", sans-serif;
  --body: "Cabinet Grotesk", sans-serif;
  --fraunces-heading: "Fraunces", serif;
  --container-padding-top: 100px;
  --container-padding-right: 25px;
  --image-bottom-padding: 80px;                                                            
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  padding: 0 auto;
  color: var(--text);
  background-color: var(--background);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px var(--container-padding-right);
  background-color: var(--background);
  font-family: var(--sharp-heading);
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--text);
}

/* .hero {
  color: var(--text);
  background-color: var(--background);
} */

/* .hero-span {
  color: var(--background);
  background-color: var(--text);
} */

.hero {
  width: 9rem;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  align-items: center;
  gap: 20px
}

.theme-icon {
  width: 1.5rem;
  cursor: pointer;
}

.menu {
  width: 1.5rem;
  cursor: pointer;
}

.home {
  display: flex;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
  padding: 0px var(--container-padding-right);
  height: calc(100vh - 60px);
}

.home-para {
  font-family: var(--body);
  font-size: small;
  margin-bottom: -8px;
  margin-left: 2px;
}

.home-main {
  font-family: var(--sharp-heading);
  font-size: 3rem;
  font-weight: 700;
}

.name-stroke {
  color: transparent;
  -webkit-text-stroke-color: var(--text);
  -webkit-text-stroke-width: 1px;
}

.contact-container {
  color: var(--text);
  background-color: var(--background);
  padding: var(--container-padding-top) 0;
}

.contact-image-container {
  width: 100%;
  padding-bottom: var(--image-bottom-padding);
  text-align: center;
  font-family: var(--fraunces-heading);
  font-style: italic;
  font-size: small;
  font-weight: 300;
}

.contact-image {
  width: 100%;
}

.contact-sub-container {
  padding: 0 var(--container-padding-right);
}

.contact-sub-container a {
  color: var(--text);
  text-decoration: none;
}

.contact-heading {
  font-size: .75rem;
  font-weight: 350;
  font-family: var(--fraunces-heading);
}

.contact-body {
  font-weight: 500;
  font-family: var(--body);
  line-height: 1.8rem;
}

.projects-container {
  background-color: var(--background);
  color: var(--text);
  padding: var(--container-padding-top) 0;
}

.projects-title {
  padding-bottom: var(--image-bottom-padding);
  text-align: center;
}

.projects-title h1 {
  line-height: 2.5rem;
  font-family: var(--fraunces-heading);
  font-size: 1rem;
  font-weight: 500;
}

.projects-title p {
  font-family: var(--body);
}

.project-container {
  padding: 0 var(--container-padding-right) 50px;
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
}

.project-info {
  color: var(--background);
  background-color: var(--text);
  padding: 50px 25px;
}

.project-info h1 {
  font-family: var(--sharp-heading);
  padding-bottom: 40px;
}

.project-info p {
  font-family: var(--body);
  padding-bottom: 40px;
}

.project-cta {
  color: var(--text);
  background-color: var(--background);
  padding: 10px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--body);
  cursor: pointer;
}

.project-info a {
  text-decoration: none;
}

.not-found-container {
  height: calc(100vh - 60px);
  padding: 0 var(--container-padding-right);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text);
  background-color: var(--background)
}

.not-found-header {
  width: 100%;
}

.not-found-header h1 {
  font-family: var(--sharp-heading);
  font-size: 9rem;
  letter-spacing: .5rem;
  color: transparent;
  -webkit-text-stroke: var(--text) 1px;
}

.not-found-container p {
  font-family: var(--sharp-heading);
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 40px;
}

.not-found-container a {
  text-decoration: none;
}

.not-found-button {
  color: var(--background);
  background-color: var(--text);
  padding: 8px;
  font-family: var(--body);
}

.about-container {
  padding: 100px auto;
  color: var(--text);
  background-color: var(--background);
}

.about-image {
  width: 100%;
  padding-bottom: 80px;
}

.about-info {
  padding: 0 var(--container-padding-right);
}

.about-info h1 {
  padding-bottom: 35px;
  font-family: var(--fraunces-heading);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.about-info p {
  font-family: var(--body);
  padding-bottom: var(--container-padding-right);
}